<!-- 
Online HTML, CSS and JavaScript editor to run code online.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />
  <title>BlogPost</title>
</head>

<body>
	<div class="formHolderBox">
      <h1 class="leftAlignedText">BlogPost</h1>
      <p class="leftAlignedText">Sign up for a new account</p>
      <br><br><br><br><br><br>
      <form class="inputContainer" method="POST">
        {% csrf_token %}
        <input class="inputBox" placeholder="Username" name="{{form.username.name}}" id="{{form.username.id_for_label}}"></input>
        <br><br><br>
         <input class="inputBox" placeholder="Email" name="{{form.email.name}}" id="{{form.email.id_for_label}}"></input>
        <br><br><br>
        <input type="password" class="inputBox" placeholder="Password" name="{{form.password1.name}}" id="{{form.password1.id_for_label}}"></input>
        <br><br><br>
        <input type="password" class="inputBox" placeholder="Confirm password" name="{{form.password2.name}}" id="{{form.password2.id_for_label}}"></input>
        <br><br><br>
        <button class="buttonBox" type="submit">Sign up</button>
      </form>
  	</div>
</body>

</html>