<!-- 
Online HTML, CSS and JavaScript editor to run code online.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/style1.css' %}" />
  <title>BlogPost</title>
</head>
<body>
    <form method="POST">
        {%csrf_token%}
        <div>
            <button class="fixedButton" name="action" value="post">Create post</button>
            <br><br><br><br>
            <button class="fixedButton" name="action" value="logout">Log out</button>
        </div>
       {% if posts %}
        {% for p in posts %}
      <div class="formHolderBox">
      <h1 class="leftAlignedText">{{p.title}}</h1>
      <p class="postDate">{{p.writer}}e</p>
      <p class="postDate">{{p.date}}e</p>
      <br>
      <p class="postContent">{{p.content}}
      </p>
      </div>
      {% endfor %}
      {% else %}
      <div class="formHolderBox"></div>
      <h1 class="leftAlignedText">No Post Available</h1>
      </div>
      {% endif %}
  	</div>
</body>

</html>
