<!-- 
Online HTML, CSS and JavaScript editor to run code online.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />
  <title>BlogPost</title>
</head>

<body>
	<div class="formHolderBox">
      <h1 class="leftAlignedText">BlogPost</h1>
      <p class="leftAlignedText">Log in to your account</p>
      <br><br><br><br><br><br>
      <form class="inputContainer" method="POST">
        {% csrf_token %}
        <input class="inputBox"  id="{{form.username.id_for_label}}" name="{{form.username.name}}" placeholder="Username"> </input>
        <br><br><br>
        <input type="password" class="inputBox"  id="{{form.password.id_for_label}}" name="{{form.password.name}}" placeholder="password"> </input>
        
        <br><br><br>
        <button class="buttonBox" type="submit">Log in</button>
        

        <br><br><br>
        <br><br><br>
        <p class="leftAlignedText"> Don't have an account? </p>
        <a href="{% url 'signup' %}" class="leftAlignedText">sign up </a>
      </form>
  	</div>
</body>

</html>