body {
    margin: 20px;
    background: #0b1114;
    display:flex;
    flex-direction:column;
    justify-content:center;
    font-family: 'Calibri Light', sans-serif;
  }
  
  .formHolderBox{
      margin-top: 80px;
      width : 850px;
        height : auto;
        display:flex;
        flex-direction: column;
      padding: 15px;
      background: #99c7e8;
        border-radius:15px;
      transition: box-shadow 0.5s ease; /* Smooth transition */
  }
  
  .formHolderBox:hover
  {
    box-shadow: 0px 0px 25px rgba(153, 199, 232, 0.5);
  }
  
  .leftAlignedText
  {
    font-family: 'Calibri Light', sans-serif;
    color: #171e24;
    line-height: 5px;
  }
  
  .postDate
  {
    font-family: 'Calibri Light', sans-serif;
    color: #171e24;
    line-height: 5px;
    font-size:12px;
  }
  
  .inputContainer
  {
    display:flex;
    justify-content:center;
    flex-direction:column;
    line-height:10px;
  }
  
  .inputBox
  {
    height:30px;
    background:#0b1114;
    border-radius:8px;
    color:#95999c;
  }
  
  .buttonBox{
      height:50px;
        font-size:medium;
        background:#0b1114;
        color:#95999c;
        border-radius:8px;
  }
  
  .postContent
  {
    font-family: 'Calibri Light', sans-serif;
    color: #171e24;
    line-height: 25px;
  }
  
  .fixedButton{
      position:fixed;
        height:50px;
        width: 200px;
        font-family: 'Calibri Light', sans-serif;
        font-size:small;
        background:#99c7e8;
        color:#171e24;
        border-radius:8px;
        right: 4%;
  }

  .postBox
{
  height:250px;
  background:#0b1114;
  border-radius:8px;
  color:#95999c;
}